---
import Prose from "../../components/Prose.astro";
import { getCollection, getEntry, type CollectionEntry } from "astro:content";
import type { GetStaticPaths } from "astro";

import MainLayout from "../../layouts/MainLayout/MainLayout.astro";
import { SITE } from "../../config.ts";

type BlogPost = CollectionEntry<"blog">;

type Props = { slug: string };

export const getStaticPaths = (async () => {
  const posts = await getCollection("blog");
  return posts.map((post: BlogPost) => ({
    params: { slug: post.slug },
    props: { slug: post.slug },
  }));
}) satisfies GetStaticPaths;

const { slug } = Astro.props as Props;
const post = await getEntry("blog", slug);
if (!post) throw new Error(`No existe el post: ${slug}`);

const { Content } = await post.render();
const pageTitle = `${SITE.title}: ${post.data.title}`;
---

<MainLayout title={pageTitle}>
  <article class="container mx-auto">
    <header class="mb-8">
      <h1 class="mb-2">{post.data.title}</h1>
      <p class="text-slate-500 dark:text-slate-400 text-sm">
        <span class="inline-flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4 flex-shrink-0"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
            ></path>
          </svg>
          <span
            >{
              post.data.date.toLocaleDateString("es-ES", {
                year: "numeric",
                month: "long",
                day: "numeric",
              })
            }</span
          >
        </span>
      </p>
    </header>
    <Prose>
      <Content />
    </Prose>
  </article>
</MainLayout>
