---
import Prose from "../../components/Prose.astro";
import { getCollection, getEntry, type CollectionEntry } from "astro:content";
import type { GetStaticPaths } from "astro";

import MainLayout from "../../layouts/MainLayout/MainLayout.astro";
import { SITE } from "../../config.ts";
import CalendarIcon from "../../components/icons/CalendarIcon.astro";
import ClockIcon from "../../components/icons/ClockIcon.astro";
import Tag from "../../components/Tag.astro";
import Author from "../../components/Author.astro";
import PageViewsCounter from "../../components/PageViewsCounter.astro";
import {
  calculateReadingTime,
  formatReadingTime,
} from "../../lib/readingTime.ts";

type BlogPost = CollectionEntry<"blog">;

type Props = { slug: string };

export const getStaticPaths = (async () => {
  const posts = await getCollection("blog");
  return posts.map((post: BlogPost) => ({
    params: { slug: post.slug },
    props: { slug: post.slug },
  }));
}) satisfies GetStaticPaths;

const { slug } = Astro.props as Props;
const post = await getEntry("blog", slug);
if (!post) throw new Error(`No existe el post: ${slug}`);

const { Content } = await post.render();
const pageTitle = `${SITE.title}: ${post.data.title}`;
---

<MainLayout
  title={pageTitle}
  description={post.data.description}
  image={post.data.heroImage}
  type="article"
>
  <article class="container mx-auto">
    <header class="mb-8">
      <h1 class="mb-2">{post.data.title}</h1>
      <p
        class="flex text-slate-500 dark:text-slate-400 text-sm items-center mb-2"
      >
        <span class="inline-flex items-center gap-1">
          <CalendarIcon class="h-4 w-4 flex-shrink-0" />
          <span class="pt-0.5"
            >{
              post.data.date.toLocaleDateString("es-ES", {
                year: "numeric",
                month: "long",
                day: "numeric",
              })
            }</span
          >
        </span>
        <span class="mx-2">·</span>
        <span class="inline-flex items-center gap-1">
          <ClockIcon class="h-4 w-4 flex-shrink-0" />
          <span>{formatReadingTime(calculateReadingTime(post.body))}</span>
        </span>
        <span class="mx-2">·</span>
        <PageViewsCounter path={`/blog/${slug}`} />
      </p>
      {
        post.data.tags && post.data.tags.length > 0 && (
          <div class="flex flex-wrap gap-2">
            {post.data.tags.map((tag: string) => (
              <Tag tag={tag} />
            ))}
          </div>
        )
      }
    </header>
    <Prose
      heroImage={post.data.heroImage}
      title={post.data.title}
      showHeroImage={post.data.showHeroImage}
    >
      <Content />
    </Prose>
    {post.data.author && <Author authorId={post.data.author} />}
  </article>
</MainLayout>
